.navheader a{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-family: 'Fira Sans Condensed', sans-serif;
    
}


a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: green;
    text-shadow: 5px 4px 3px #999;
}
.news{
    background:url(pictures/news.png) no-repeat left center; 
    background-size: 25px; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 30px;
    margin: 0 50px;
    font-weight: bold;
}
.main{
    background:url(pictures/main.png) no-repeat left center; 
    background-size: 25px; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 30px;
    margin: 0 50px;
    font-weight: bold;
}
.conacts{
    background:url(pictures/contacts.png) no-repeat left center; 
    background-size: 25px; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 30px;
    margin: 0 50px;
    font-weight: bold;
}
@font-face{
    font-family: 'Fira Sans Condensed', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap);
}
.prgrmg{
    height: 150px;
    width: 170px;
}